<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="infantry">
    <xacro:include filename="$(find tide_robot_description)/urdf/base/infantry_description_base.urdf.xacro" />

    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find tide_ctrl_bringup)/config/infantry/infantry_sim.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
